{% extends "base.html" %}

{% block title %}
Nature Product
{% endblock %}

{% block header %}
<script type="text/javascript" src="/static/js/ShowProductInfo.js">
</script>
{% endblock %}


{% block body %}
<div class="container">
    <div class="hero-unit">
        <h1>Натуре продугд</h1>

        <p>Я верстальщик от бога</p>

        <div>
            <input id="sendText" type="text" value="4810206001901"/>
            <button id="buttonGetAdditiveInfo" class="btn btn-primary btn-large">
                Получить информацию о добавке
            </button>
        </div>
        <button id="buttonGetProductInfoStub" class="btn btn-primary btn-large" style="margin-top: 20px">
            Заглушка
        </button>
        <button id="buttonGetProductInfo" class="btn btn-primary btn-large" style="margin-top: 20px">
            Сделать хорошо
        </button>
        <p>The source code of this application is available at
            <a href="https://github.com/Doxxer/NatureProduct">Github</a>.
        </p>
    </div>
    <div class="hero-unit">
        <span id="response"></span>
    </div>
</div>

{% endblock %}

